/*FONDO Y ESTILO DE FUENTE*/
body{
    background: url(../img/fondo.jpg)
    no-repeat
    center center
    fixed;
    font-family: 'Saira Condensed', sans-serif;

}

/*BARRA DE NAVEGACIÓN*/
nav{
	background-color: transparent;
	box-shadow: none;
}

/*ESTILOS PARA LOS TITULOS E INPUTS*/
h1{
  font-family: 'Norican', cursive;
  font-size: 25px;
}
h3{
  text-align: center;

}
p{
  text-align: justify;
}
input{
  color: white;
}

/*ESTILO DE BOTONES E ICONOS*/
.btn{
  border-radius: 10px 10px 10px 10px;
}
.material-icons{
  margin-top: -0.7rem;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* ASPECTO CONTENEDOR*/
.content{
  background-color: rgba(10 ,0,0,0.30);
}
.contenedor-img{
  background-color: transparent;
}

/*BORDE DE IMAGENES y ESTILO DE PARRAFO */
.contenedor-img img{
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* ESTILO DEL CONTENIDO */
.card-content p{
  font-size: 20px;
}
.nav-wrapper{
  color: none;
}
.materialize-textarea{
  color: white;
}

/*EFECTO BOTONES REDES SOCIALES*/
#social .fa:hover{
  color: #dbe56e;
}

/*IMAGEN DE PERFIL CENTRADO*/
#centrado{
  margin:10px auto;
  display:block;
  width:120px;
  height:140px;
  border-radius:150px
}

/*VISUALIZACIÓN PANTALLAS*/
@media (max-width:550px) and (max-width:900px){
  .material-icons{
    text-align: center;
  }
  .btn{
    display: inline-block;
    height: 35px;
    width: 30px;
    padding: 0 0.05rem!important;
  }
}
@media screen and (max-width:900px) {
    #social{
    display: inline-block;
    height: 45px;
    width: 40px;
    }
}
